/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
    html {
        border-right: 6px groove papayawhip;
    }
}

/* mobile landscape layout (480px to 767)*/
@media only screen and (max-width: 767px) {
    header img {
        float: none;
        text-align: center;
        padding: 1em 1em 0 0;
        max-width: 30%;
    }
    
    header h2 {
        padding: 0 0.5em 0 0;
    }
    
    header blockquote {
        display: none;
    }
    
    header {
        text-align: center;
        background-image:
        linear-gradient(
            90deg, red 0%, white 10%, blue 20%, silver 30%, gold 40%, gold 60%, silver 70%, blue 80%, white 90%, red 100%);
        padding-bottom: 1.75%;
    }
    
    section h2 {
        text-align: center;
        padding: 0.3em 0 0 0;
    }
    
    article p {
        padding: 0.75em 0 17em 0;
    }
    
    footer p {
        font-size: 85%;
    }
}

 /* mobile portrait layout (479px or less) */
@media only screen and (max-width: 479px) {
    header{
        padding-bottom: 1%;
    }
    
    header img {
        padding: 1em 0.5em 0 0;
    }
    
    header h2 {
        padding: 0 0.5em 0 0;
    }
    
    article p {
        padding: 0.75em 0 10em 0;
    }
}


/*nav_menu*/
/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) {
    #nav_menu ul li {
        width: 24.7%;
    }
}

/* mobile landscape layout (480px to 767)*/
@media only screen and (max-width: 767px) {
    
    /* hide the nav menu */ 
    #nav_menu { 
        display: none;
    }
    
    #mobile_menu .current {
        border: none;
        text-decoration: underline;
        font-size: 120%;
    }
    
    /* display the mobile menu */ 
    #mobile_menu { 
        display: block;
    }
    
    /*slicknav background*/
    .slicknav_menu {
        background-color: #4C4C4C!important;
    }
}
